 img {
        border-radius: 20%;
        width: 200px;
        border: 2px solid black;
        margin-bottom: 16px;
    }
footer {
        margin-bottom: 20px;
        font-size: 14px;
        color: gray;
    }
body {
        text-align: center;
        padding: 16px;
        background-image: url('./image/background.png');
        background-size: cover;
    }
    
    h1 {
        margin-bottom: 16px;
    }
    